<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Home</title>
</head>
<body>

<style>
    .link {
        padding: 1em;
        text-align: center;
        margin-top: 1em;
        background-color: darkgray;
        text-decoration: none;
    }

    .link:hover {
        color: white;
        background-color: #1e347b;
        user-select: none;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:visited {
        color: white;
    }

</style>

<div>
    <h1>Welcome to the backend API</h1>

    <div class="link" onclick="window.location.href='https://www.bengarlock.com:8080/books'" target="_blank" >
        <a href="https://www.bengarlock.com:8080/books" target="_blank">Books Endpoint</a>
    </div>
    <div class="link" onclick="">
        <a href="https://www.bengarlock.com:8080/folders" target="_blank">Folders Endpoint</a>
    </div>
    <div class="link">
        <a href="https://www.bengarlock.com:8080/guests" target="_blank">Guests Endpoint</a>
    </div>
    <div class="link">
        <a href="https://www.bengarlock.com:8080/jobapps" target="_blank">Job Applications Endpoint</a>
    </div>
    <div class="link">
        <a href="https://www.bengarlock.com:8080/restaurants" target="_blank">Restaurants Endpoint</a>
    </div>
    <div class="link">
        <a href="https://www.bengarlock.com:8080/slots" target="_blank">Slots Endpoint</a>
    </div>
    <div class="link">
        <a href="https://www.bengarlock.com:8080/tables" target="_blank">Tables Endpoint</a>
    </div>
    <div class="link">
        <a href="https://www.bengarlock.com:8080/tasks" target="_blank">Task Endpoint</a>
    </div>
        <div class="link">
        <a href="https://www.bengarlock.com:8080/oktausers" target="_blank">Okta Endpoint</a>
    </div>
</div>

</body>
</html>